body {
  font-family: "Roboto", sans-serif;
}

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.form-container h3 {
  text-align: center;
  color: #555;
  margin-bottom: 15px;
  font-weight: 400;
}


.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
}

.submit-btn:hover {
  background-color: #2980b9;
}

.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}


.exit-container {
  text-align: center;
  margin-top: 20px;
}

.exit-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
}

.exit-btn:hover {
  background-color: #2980b9;
}

.exit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}
