/* General font family */
body {
  font-family: "Roboto", sans-serif;
}

/* Styling for home page */
.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.header-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.form-container h3 {
  text-align: center;
  color: #555;
  margin-bottom: 15px;
  font-weight: 400;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.input-group input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
}

.submit-btn:hover {
  background-color: #2980b9;
}

.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

/* General styling for lobby */
.lobby-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.lobby-container h2 {
  text-align: center;
  color: #333;
  font-weight: 500;
}

.lobby-container h3 {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin-bottom: 15px;
}

.lobby-container p {
  text-align: center;
  color: #555;
  font-weight: 400;
}

.username {
  font-weight: bold;
  color: #2c3e50;
  font-family: "Roboto", sans-serif;
}


/* Styling the user list */
.user-list-container {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-item:hover {
  color: #ffffff;
  background-color: #2980b9;
}



/* Styling the chat room */

/* Chat Room Container Styling */
.chat-room-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.chat-room-container h2 {
  text-align: center;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}

.chat-room-container p {
  text-align: center;
  color: #555;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Chat Messages Area Styling */
.chat-messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message strong {
  color: #2c3e50;
}

/* Message Input Area Styling */
.message-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#message-input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Send Button Styling */
#send-btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

#send-btn:hover {
  background-color: #2980b9;
}

#send-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

/* Back to Lobby Button Styling */
.back-lobby-container {
  text-align: center;
  margin-top: 20px;
}

#back-to-lobby-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

#back-to-lobby-btn:hover {
  background-color: #2980b9;
}

#back-to-lobby-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}
